/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

/* TITLES */

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444 /* equal #444444 */
}

.orange {
    color: darkorange;
}

/* HEADER */